#name{
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6px;
}
.info{
    width: 231px;
    height: 26px;
    flex-shrink: 0;
    color: #333;
    letter-spacing: 0.15px;
    margin: 0px;
}

.editBtn {
    background: var(--gey-lighten-4, #f5f5f5);
}