#generalInfo {
    margin: 71px 0px;
    padding: 27px 32px 15px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#stockInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h4 {
    margin: 0;
}

p{
    margin: 0;
}

#companyName {
    color: var(--black-06, rgba(0,0,0,0.6));
    margin-bottom: 3px;
}

#priceInfoContainer {
    margin-top: 10px;
    text-align: end;
}

#priceChangeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#watchlistBtn {
    display: flex;
    align-items: center;
}

#btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#btn-container > button {
    color: white;
}

.buy {
    background-color: var(--custom-success, #4CAF50);
}

.sell {
    background-color: var(--custom-error, #ff5252);
}

.mat-icon {
    transform: scale(1.5);
}

#priceChangeContainer > .mat-icon {
    transform: scale(1);
}

.gain {
    color: green;
}

.loss {
    color: red;
}